
* {
	font-family: 'Roboto Condensed', sans-serif;
	color: #444444;
	background-color: white;
}

.sidenav {
	width: 0;
	position: fixed;
	z-index: 2;
	top: 61px;
	left: 0;
	background-color: #f3f3f3;
	overflow-x: hidden;
	transition: 0.5s;
	box-shadow: 5px 5px 10px #CCCCCC;
	border-radius: 0px 0px 15px 0px;
}

.sidenav a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	color: #444444;
	display: block;
	transition: 0.5s;
	text-align: center;
	border-bottom: 1px solid #444444;
}

.sidenav a:hover {
	background-color:#444499;
	color: white;
}

.sidenav .closeBtn {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}

#menubar {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0px 5px 10px #cccccc;
	transition: 0.5s;
	z-index: 1;
}

#menubar a {
	float: left;
	text-align: left;
}

#icon, #title {
	color: #444444;
}

#icon {
	cursor: pointer;
	font-size: 30px;
}

#title {
	font-family: 'Righteous', cursive;
	margin-left: 20px;
	margin-top: 8px;
	font-weight: bold;
	font-size: 22px;
}

#main {
	margin-top: 61px;
	transition: 0.5s;
	padding: 10px 280px 0 280px;
}

#img1, #img2, #img3 {
	height: 165px;
	margin: auto;
	display: block;
	filter: grayscale(100%);
	transition: 0.5s;
	position: relative;
	border-radius: 50%;
	box-shadow: 0 10px 20px #CCCCCC;
}

#img1:hover, #img2:hover, #img3:hover {
	filter: grayscale(0%);
	transition: 0.5s;
}

.imgRGB, .imgCMYK, .imgChroma, .imgTemp, .exRGB, .exCMYK, .exChroma, #imgGrupo, #imgSMD {
	width: 100%;
}

.img {
	width: -moz-fit-content;
	float: left;
}

.content {
	margin: 0 auto;
	width: -moz-fit-content;
	padding: 150px;
}

th {
	font-family: 'Share', cursive;
	text-align: left;
}

td {
	vertical-align: middle;
}

#messagebox {
	width: 324px;
	height: 162px;
}
