/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/06/2017, 00:32:16
    Author     : tiago
*/
body{
    background-color: #dddddd;
    color: rgba(0,0,0,1);
    font-family: arial, sans-serif;
}
div#interface{
    background-color: #ffffff;
    width: 450px;
    padding: 50px;
    margin: 20px auto 40px auto;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
form fieldset.setCampo{
    width: 400px;
    margin: auto;
    border-radius: 10px; 
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
span#logo{
    font-size: 30pt;
    margin-left: 170px;
}